<h6>{{name}}</h6>
<h6>{{name | uppercase}}</h6>
<h6>{{name | lowercase}}</h6>
<h6>{{message | titlecase}}</h6>

<h6>{{name | slice:2}}</h6>

<h6>{{person | json}}</h6>

<h6>{{6.780 | number: '1.2-3'}}</h6>
<h6>{{6.780 | number: '2.4-5'}}</h6>
<h6>{{6.780 | number: '3.1-2'}}</h6>

<h6>{{0.25  | percent}}</h6>
<h6>{{0.25  | currency}}</h6>

<h6>{{date}}</h6>
<h6>{{date | date: 'short'}}</h6>
<h6>{{date | date: 'shortdate'}}</h6>
<h6>{{date | date: 'shorttime'}}</h6>

<h6>{{title | truncateCustom}}</h6>




