.text-blue {
  color: blue;
}

.bg-yellow {
  background-color: yellow;
}

.active {
  font-weight: bold;
  color: red;
}

.highlight {
  background-color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}